@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto+Serif:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background:rgb(47, 160, 160) ;
    font-family: 'Roboto Serif', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aqua;
    padding: 2em;
    border-radius: 2px;
    position: relative;
}
.btn{
    padding: .5em;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-contain{
    display: flex;
    justify-content: space-between;
}